*{
    padding:0%;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
}

:root{
    --cor_fundo: #33658A;
    --cor_cabeca: #1A3342;
    --cor_menu: #86BBD8;
    --cor_cinza: #626260;
    --cor_estranha: #03888D;
    --cor_botao: #626260b0 ;
}

body{
    background-color: #33658A;
    color: #000000;
    transition: background-color 0.5s , color 0.3s ;
    justify-content: center;
}
body.dark-theme {
    background-color: #08074D;
    transition: background-color 0.5s , color 0.3s ;
    color: #ffffff;
  }

#cabecalho{
    position: sticky; top: 0; width: 100%; z-index: 1000;
    height: 10rem;
    background-color: var(--cor_cabeca);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    gap:13rem;
}

#lampada {
    width: 90px;
    height: 90px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
#lampada:hover {
    transform: scale(1.20);
}

#menu{
    border-radius: 10px;
    width: 90px;
    height: 90px;

}
#menu:hover {
    transform: scale(1.20);
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor_menu);
    height: 60vh;
    margin:auto;
    margin-top: 10vh;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
}
#Aparelhos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    gap: 40px;
}
#lado_esquerdo,
#lado_direito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 45%;
    gap: 20px;
}
.aparelho {
    width: 100%;
    min-height: 70px;

    background-color: var(--cor_botao);
    border: none;
    border-radius: 15px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    transition: transform 0.2s ease, background-color 0.2s ease;
}

.aparelho:hover {
    transform: scale(1.05);
}
a {
    text-decoration: none;
    color: black;
    margin: 15px 0  20px;
    font-size: 20px;
    transition: transform 0.2s ease;
}
#dadosUso {
    width: 50%;
    min-height: 400px;
    padding: 20px;
}

#dadosUso h2 {
    margin-bottom: 25px;
}

#graficos {
    display: flex;
    gap: 10px;
    width: 100%;
}

.grafico {
    background-color: #d3d3d3;
    width: 33%;
    height: 275px;
    padding: 8px;
}

.grafico h3 {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
}

.grafico canvas {
    width: 100% !important;
    height: 210px !important;
}

a:hover {
    transform: scale(1.05);
}


#logo {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: transform 0.2s ease;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    
    
}

#logo:hover {
    transform: scale(1.05);
}
#erroEmail,
#erroSenha {
    display: block;
    color: red;
    font-size: 15px;
    margin-bottom: 10px;
}

.invalido {
    border: 2px solid red;
}

.valido {
    border: 2px solid green;
}

@media (max-width: 768px) {
    
    #cabecalho {
        font-size: 1rem;
        gap:1.5rem;    
    }
    main{
        width: 20rem;
        height: 30rem;
    }
   
}