*{
    padding:0%;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

:root{
    --cor_fundo: #33658A;
    --cor_cabeca: #1A3342;
    --cor_menu: #86BBD8;
    --cor_cinza: #626260;
    --cor_estranha: #03888D;
}

body{
    background-color: var(--cor_fundo);
    justify-content: center;
}

#cabecalho{
    position: sticky; top: 0; width: 100%; z-index: 1000;
    height: 130px;
    background-color: var(--cor_cabeca);
    color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 20px;
    font-size: 30px;
    line-height: 120px;
}

#lampada {
    margin-top: 20px;
    width: 90px;
    height: 90px;
    transition: transform 0.2s ease;
}
#lampada:hover {
    transform: scale(1.20);
}

#menu{
    border-radius: 10px;
    width: 90px;
    height: 90px;
    margin-top: 20px;

}
#menu:hover {
    transform: scale(1.20);
}


::placeholder{
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: transform 0.2s ease;
}

a:hover {
    transform: scale(1.05);
}


#logo {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 150px;
    transition: transform 0.2s ease;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    align-items: center;
    margin-top: 180px;
    
}

#logo:hover {
    transform: scale(1.05);
}

.card{
    background-color:var(--cor_estranha);
    width:250px;
    height: 300px;
    margin: 50px;
    border-radius: 15px;
    
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    align-items: center;
}

.info {
    
    border:black 20px;
    display: flex;
    flex-direction: column;
    
}
#titulo {
    
    color:rgb(0, 0, 0);
    align-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    font-size: 40px;
    margin-top:20px;
}
.cons_comodo {
    color:rgb(246, 154, 154);
    font-size: 15px;
    line-height: 50px;
}
.n_comodo {
    background-color:var(--cor_cinza);
    color:rgb(255, 255, 255);
    font-size: 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 50px;
    line-height: 50px;
}
.user_comodo{
    margin-top: 180px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
#menu_aberto{
    opacity: 0;
    visibility: hidden;
    transition: transform 0.2s ease;
    background-color: var(--cor_cinza);
    color: white;

}
#menu-container:hover #menu_aberto {
    opacity: 1;
    visibility: visible;
    transform: scale(1.05);
}