*{
    padding:0%;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

:root{
    --cor_fundo: #33658A;
    --cor_cabeca: #1A3342;
    --cor_menu: #86BBD8;
}

body{
    background-color: var(--cor_fundo);
    justify-content: center;
}

#cabecalho{
    position: sticky; top: 0; width: 100%; z-index: 1000;
    height: 10rem;
    background-color: var(--cor_cabeca);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    gap:13rem;
}

#lampada {
    width: 90px;
    height: 90px;
    transition: transform 0.2s ease;
}
#lampada:hover {
    transform: scale(1.20);
}

#menu{
    border-radius: 10px;
    width: 90px;
    height: 90px;


}
#menu:hover {
    transform: scale(1.20);
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor_menu);
    width: 20vw;
    margin:auto;
    margin-top: 10vh;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
}


input{
    width: 16rem;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    margin: 20px;
    user-select: text;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    transition: transform 0.2s ease;
}

input:hover {
    transform: scale(1.05);
}

::placeholder{
    font-size: 20px;
}


button{
    background-color:  #119DA4;
    width: 10vw;
    height: 45px;
    border: none;
    border-radius: 15px;  
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;

}

button:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: black;
    margin: 20px;
    font-size: 20px;
    transition: transform 0.2s ease;
}

a:hover {
    transform: scale(1.05);
}





#logo {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: transform 0.2s ease;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    
    
}

#logo:hover {
    transform: scale(1.05);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    #cabecalho {
        font-size: 1rem;
        gap:1.5rem;    
    }
    main{
        width: 20rem;
    }
    button{
        width:43vw ;
    }
}